Package: com.darthplagueiswise.waliquidglassexperiments
Name: WALiquidGlassExperiments
Version: 0.0.1
Architecture: iphoneos-arm64
Description: Toggleable LiquidGlass experiments for WhatsApp
Maintainer: darthplagueiswise
Author: darthplagueiswise
Section: Tweaks
Depends: mobilesubstrate
